@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sora', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
	max-width: 1295px;
	margin: 0 auto;
}