.color-white {
	color: #fff!important;
}

.color-dark {
	color: $darkGray!important;
}

.color-blue {
	color: $blue!important;
}

.text-center {
	text-align: center;
}

.transition-linear,
.transition-linear > .swiper-wrapper {
	transition-timing-function: linear!important;
}